body{
    margin:0;
    font-family:Arial;
    background:#f4f7f6;
}

header{
    background:linear-gradient(135deg,#1b5e20,#43a047);
    color:white;
    text-align:center;
    padding:50px;
}

nav{
    background:#111;
    text-align:center;
}

nav a{
    color:white;
    padding:12px;
    display:inline-block;
    text-decoration:none;
}

nav a:hover{
    background:#2e7d32;
}

.container{
    padding:20px;
}

.box{
    background:white;
    padding:15px;
    margin:10px 0;
    border-radius:10px;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:10px;
}

.img{
    width:100%;
    border-radius:10px;
    cursor:pointer;
}

/* SLIDER */
.slider{
    position:relative;
    height:350px;
    overflow:hidden;
}

.slide{
    display:none;
    position:absolute;
    width:100%;
}

.slide img{
    width:100%;
    height:350px;
    object-fit:cover;
}

.active{
    display:block;
}

.caption{
    position:absolute;
    bottom:20px;
    left:20px;
    background:rgba(0,0,0,0.5);
    color:white;
    padding:10px;
}

.prev,.next{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    background:black;
    color:white;
    border:none;
    padding:10px;
    cursor:pointer;
}

.prev{left:10px;}
.next{right:10px;}

footer{
    text-align:center;
    background:#1b5e20;
    color:white;
    padding:10px;
}